.root {
    /* Theme colours */
    neutral-player-color: #DCDCDC;
    background-color: #5A6868;
}

/* Styling for Continent Pane */
#continent-pane {
    -fx-font-size: 16;
    -fx-padding: 10;
    -fx-background-color: #035e8a;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

#N_America {
    -fx-fill: #FFABAB;
}

#S_America {
    -fx-fill: #FFFFD1;
}

#Europe {
    -fx-fill: #6EB5FE;
}

#Asia {
    -fx-fill: #BAD577;
}

#Africa {
    -fx-fill: #FFB347;
}

#Australia {
    -fx-fill: #B5B9FE;
}

/* End of styling for continent pane */

#game-root {
    -fx-background-color: #5A6868;
}

#player-1 {
}

#player-2 {
}

#neutral-player {
    -fx-fill: neutral-player-color;
}

#map-component {
    -fx-background-size: 1000 660;
    -fx-background-image: url("newMap.png");
    -fx-background-position: top -70 left -5;
    -fx-border-radius: 10;
    -fx-background-color: #126D98;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, black, 10, 0, 0, 3);
}

#log {
    -fx-fill: white;
    -fx-text-fill: white;
}

#input-line {
    -fx-background-color: #697777;
    -fx-padding: 5;
    -fx-text-fill: white;
    -fx-border-style: hidden hidden hidden hidden;
    -fx-border-color: white;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

#shell-component {
    -fx-text-fill: white;
    -fx-background-color: transparent;
}
