.root {
    neutral-player-color: #869090;
}

/* Styling for Continent Pane */
#continent-pane {
    -fx-font-size: 16;
    -fx-padding: 10;
    -fx-background-color: #035e8a;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

#text {
    -fx-text-fill: white;
    -fx-fill: white;
}

#game-root {
    -fx-background-color: #5A6868;
}

#neutral-player {
    -fx-fill: neutral-player-color;
}

#map-component {
    -fx-background-size: 1000 660;
    -fx-background-image: url("gameMap.png");
    -fx-background-position: top -70 left -5;
    -fx-border-radius: 10;
    -fx-background-color: #126D98;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, #3B4040, 10, 0, 0, 3);
}

#log {
    -fx-text-fill: white;
}

#input-line {
    -fx-background-color: #697777;
    -fx-padding: 5;
    -fx-text-fill: white;
    -fx-border-style: hidden;
    -fx-border-color: white;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

#shell-component {
    -fx-background-color: transparent;
}
