/*
 TODO:
    Clean up variables
*/


.root {
    -fx-grey-1: #5A6868;
    -fx-grey-2: #697777;
    -fx-grey-3: #485252;

    -fx-blue: #126D98;
}

#text {
    -fx-text-fill: white;
    -fx-fill: white;
}

#game-root {
    -fx-background-color: -fx-grey-1;
}

#map-component {
    -fx-background-size: 1000 660;
    -fx-background-image: url("gameMap.png");
    -fx-background-position: top -70 left -5;
    -fx-border-radius: 10;
    -fx-background-color: -fx-blue;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, #3B4040, 10, 0, 0, 3);
}

#shell-component {
    -fx-background-color: transparent;
}

#log {
    -fx-text-fill: white;
}

#shell-input-component {
    -fx-background-color: -fx-grey-2;
    -fx-padding: 5;
    -fx-text-fill: white;
    -fx-border-style: hidden;
    -fx-border-color: white;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

#shell-component {
    -fx-background-color: transparent;
}

#shell-log-component {
    -fx-background: -fx-grey-1;
    -fx-background-color: transparent;
}

.scroll-bar:vertical {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button,
.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    visibility: hidden;
    -fx-padding: 0 3.5;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: -fx-grey-2;
    -fx-background-radius: 10;
}

.scroll-bar:vertical .thumb:hover {
    -fx-background-color: -fx-grey-3;
}

